* {
  margin: 0;
  padding: 0;
}

.demo {
  height: 100vh;
  width: 100%;
}

.demo model-viewer {
  width: 100%;
  height: 100%;
}

.btn-container {
  position: absolute;
  width: 100%;
  bottom: 3rem;
  text-align: center;
}

button {
  padding: 0.5rem;
  height: auto;
  width: 7rem;
  border-radius: 10px;
}

#one {
  background-color: red;
  color: white;
}

#two{
  background-color: green;
  color: white;
}

#three {
  background-color: yellow;
  color: white;
}

button:focus {
  outline: none;
}
